/* -------- Campo de Data -------- */
form input[type="date"] {
    width: 100%;
    padding: 10px 12px;
    margin-bottom: 20px;
    border: 1px solid var(--azul-Senac);
    border-radius: 8px;
    font-size: 16px;
    color: #333;
    background-color: var(--branco-Senac);
    font-family: Kadwa, sans-serif;
    transition: border-color 0.3s, box-shadow 0.3s;
    appearance: none;
}


form input[type="date"]:focus {
    border-color: var(--laranja-Senac);
    box-shadow: 0 0 5px var(--laranja-Senac);
    outline: none;
}


form input[type="date"]::-webkit-calendar-picker-indicator {
    cursor: pointer;
    filter: hue-rotate(180deg) brightness(1.1);
}
