:root {
    --laranja-Senac: #F7941D;
    --branco-Senac: #FFF;
    --azul-Senac: #004A8D;
    --cinza-Senac: #D9D9D9;
    --azul_Claro-Senac: #177bda;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Kadwa, sans-serif;
    background-color: var(--branco-Senac);
}

/* --------titulo-------------------- */
.titulo_usuario {
    margin: 20px auto;
    text-align: center;
    color: var(--azul-Senac);
    font-size: 24px;
}

.titulo_usuario p {
    display: inline-block;
    padding-bottom: 5px;
    border-bottom: 3px solid var(--laranja-Senac);
}

/* ---------Formulario---------------- */
form {
    width: 500px;
    margin: 50px auto;
    padding: 30px;
    background-color: var(--branco-Senac);
    border-radius: 12px;
    box-shadow: 10px 15px 35px 15px rgba(0,0,0,0.1);
    font-family: Kadwa, sans-serif;
}

form label {
    display: block;
    margin-bottom: 6px;
    color: black;
}

form input[type="text"],
form input[type="email"],
form input[type="password"],
form input[type="file"],
form textarea,
form select {
    width: 100%;
    padding: 10px 12px;
    margin-bottom: 20px;
    border: 1px solid var(--azul-Senac);
    border-radius: 8px;
    font-size: 16px;
    transition: border-color 0.3s, box-shadow 0.3s;
    font-family: Kadwa, sans-serif;
}

form button {
    padding: 10px 20px;
    margin-right: 10px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

form button[type="submit"] {
    background-color: var(--azul-Senac);
    color: #fff;
}

form button[type="submit"]:hover {
    background-color: var(--azul_Claro-Senac);
}

form button[type="button"] {
    background-color: #ccc;
}

form button[type="button"]:hover {
    background-color: var(--cinza-Senac);
}

form input[type="file"] {
    padding: 5px 12px;
    border: 1px solid var(--azul-Senac);
    border-radius: 8px;
}