:root {
    --laranja-Senac: #F7941D;
    --branco-Senac: #FFF;
    --azul-Senac: #004A8D;
    --azulEsverdiado-InovaEdu: #1A6F9D;
    --shadow: 0 3px 12px rgba(0,0,0,0.12);
}

body{
    margin: 0;
    padding: 0;
    background-image: url("../img/Fundo.png"); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.titulo {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.titulo p {
    color: var(--azul-Senac);
    font-size: 26px;
    font-weight: 600;
    border-bottom: 4px solid var(--laranja-Senac);
}

.campo_pesq {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    max-width: 600px;
    margin: 0 auto 20px auto;
}

.pesquisa {
    flex: 1;
    padding: 10px 15px;
    border-radius: 10px;
    border: 2px solid var(--azul-Senac);
    font-size: 15px;
}

main {
    display: flex;
    justify-content: center;  /* CENTRALIZA os cards */
    align-items: center;
    justify-self: center;
    flex-wrap: wrap;
    min-height: calc(81vh - 90px);
    gap: 30px;
}

section {
    display: flex;
    align-items: center;
    text-align: start;
    border: solid 1px rgb(228, 228, 228);
    border-radius: 23px;
    transition: 0.2s ease;
}

section:hover {
    transform: translateY(-3px);
    box-shadow: 0 8px 24px rgba(2, 6, 23, 0.06);
}

.rota {
    width: 100%;
    margin-left: 20px;
    color: var(--azul-Senac);
    font-size: 14px;
    font-weight: 600;
    margin-top: 12px;
    margin-bottom: 6px;
}