:root {
    --laranja-Senac: #F7941D;
    --branco-Senac: #FFF;
    --azul-Senac: #004A8D;
    --azul-Senac-hover: #00376a;
    --shadow: 0 4px 15px rgba(0, 0, 0, 0.06);
    --text-main: #334155;
    --text-muted: #64748b;
}



/* HEADER */

.navbar{
    width:100%;
    height:70px;

    background:linear-gradient(
        90deg,
        var(--azul-Senac),
        var(--azul-Senac-hover)
    );

    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:0 35px;
}

.logo img{
    width: 55px;
}

/* MENU */

.menu{
    display:flex;
    align-items:center;
    gap:14px;
    
}

.menu a{
    text-decoration:none;
    color:var(--branco-Senac);

    font-size:14px;
    font-weight:500;

    padding:10px 18px;

    border-radius:14px;

    transition:.3s;
}

.menu a:hover{
    background:rgba(255,255,255,.08);
}

.menu .active{
    background:var(--azul-Senac-hover);
    position:relative;
}

.menu .active::after{
    content:"";

    width:65%;
    height:3px;

    background:var(--laranja-Senac);

    position:absolute;

    bottom:0;
    left:17%;

    border-radius:20px;
}

/* USUÁRIO */

.user{
    display:flex;
    align-items:center;
    gap:12px;
}

.user-name{
    text-decoration:none;
    color:var(--branco-Senac);

    font-size:14px;
    font-weight:500;
}

/* BOTÃO SAIR */

.logout{
    width:38px;
    height:38px;

    display:flex;
    align-items:center;
    justify-content:center;

    border-radius:12px;

    background:rgba(255,255,255,.10);

    color:var(--branco-Senac);
    text-decoration:none;

    transition:.3s;
}

/* .logout:hover{
    background:rgba(255,255,255,.18);
    color:var(--laranja-senac);
} */

.logout i{
    font-size:18px;
}

/* MENU MOBILE */

.hamburger{
    display:none;

    background:none;
    border:none;

    color:var(--branco-Senac);

    font-size:28px;

    cursor:pointer;
}

@media(max-width:768px){

    .hamburger{
        display:block;
    }

    .menu{
        display:none;

        position:absolute;

        top:70px;
        left:0;

        width:100%;

        background:var(--azul-Senac);

        flex-direction:column;

        padding:20px 0;

        z-index:999;
    }

    .navbar.nav-open .menu{
        display:flex;
    }

    .logo img{
        width:55px;
    }

    .user-name{
        font-size:12px;
    }
}