/* ---------------------- */
/* LAYOUT GERAL DOS CURSOS */
/* ---------------------- */

body {
    margin: 0;
    padding: 0;
}

.divisoria{
    display: flex;
    width: 100%;
    margin: 50px 0px;
}

main {
    width: 1000px;
    margin: 0px 120px;
}

.imagem_curso {
    width: 300px;
    border-radius: 23px 23px 0px 0px;
}

section {
    width: 300px;
    height: 340px;
}

section p {
    margin: 20px 0px 0px 0px;
    color: var(--azul-Senac);
}

.borda {
    width: 100px;
    margin: 10px 0px 20px 0px;
    border-bottom: solid;
    border-color: var(--laranja-Senac);
}

section .Botao_entrar_curso {
    width: 150px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--branco-Senac);
    border: none;
    border-radius: 23px;
    background: var(--azul-Senac);
}


/* ---------------------- */
/* SIDEBAR DE FILTROS     */
/* ---------------------- */

/* --- SIDEBAR FIXA À ESQUERDA --- */
.sidebar-filtro {
    align-self: start;
    width: 280px;
    padding: 25px 20px;
}

.sidebar-filtro.ativo {
    left: 0;
    /* mostra */
}

.sidebar-filtro h2 {
    margin-bottom: 20px;
    font-size: 21px;
    font-weight: bold;
    color: var(--azul-Senac);
}

/* campos do filtro */

.campo-filtro {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.campo-filtro label {
    font-size: 14px;
    color: #444;
    margin-bottom: 5px;
}

/* input date */
.campo-filtro input[type="date"] {
    padding: 8px;
    border: 1px solid var(--cinza-Senac);
    border-radius: 8px;
}

/* select */
.campo-filtro select {
    width: 100%;
    padding: 8px;
    border-radius: 8px;
    border: 1px solid var(--cinza-Senac);
    background-color: #fff;
}

/* botão aplicar */
.btn-aplicar {
    width: 100%;
    padding: 10px;
    background: var(--azul-Senac);
    color: var(--branco-Senac);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 15px;
    transition: 0.2s ease;
}

.btn-aplicar:hover {
    background: #00376a;
}