:root {
    --laranja-Senac:#F7941D;
    --branco-Senac:#FFF;
    --azul-Senac: #004A8D;
    --cinza-Senac: #D9D9D9;
}

body{
    margin: 0;
    padding: 0;
    font-family: Kadwa;
}


.titulo{
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.titulo p{
    border-bottom: solid;
    border-color: var(--laranja-Senac);
    color: var(--azul-Senac);
    margin: 0%;
    font-size: 20px;
}

.filtro_icone{
    width: 30px;
    flex-shrink: 0;
}

.pesquisa{
    display: flex;
    justify-self: center;
    text-align: center;
    height: 30px;
    width: 80%;
    max-width: 1000px;
    border-radius: 10px;
    border: 2px solid;
    border-color: var(--azul-Senac);
}

main{
    justify-self: center;
    display: flex;
    max-width: 1000px;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.imagem_curso{
    width: 300px;
    border-radius: 23px 23px 0px 0px;
}

section{
    width: 300px;
    height: 340px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: #F0F0F0;
    margin: 30px 0px;
    border-radius: 23px;
}

section p{
    margin: 20px 0px 0px 0px;
    color: var(--azul-Senac);
}

.borda{
    width: 100px;
    margin: 10px 0px 20px 0px;
    border-bottom: solid;
    border-color: var(--laranja-Senac);
}

section .Botao_entrar_curso{
    width: 150px;
    height: 30px;
    color: var(--branco-Senac);
    border: none;
    border-radius: 23px;
    background: #004A8D;
}