:root {
  --laranja-Senac: #f7941d;
  --branco-Senac: #fff;
  --azul-Senac: #004a8d;
  --cinza-Senac: #f2f2f2;
  --azul_Claro-Senac: #177bda;
  --fonte-principal: "Arial", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--fonte-principal);
}

body {
  background: #f4f6f9;
}

/*========================*/

.banner {
  background: var(--azul-Senac);
  color: #fff;
  text-align: center;
  padding: 140px 20px;
}

.banner h1 {
  font-size: 40px;
  margin-bottom: 15px;
}

.banner p {
  width: 700px;
  max-width: 90%;
  margin: auto;
  line-height: 1.6;
  opacity: 0.9;
}

/*========================*/

.estatisticas {
  width: 95%;
  margin: 25px auto;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}

.card-info {
  background: #fff;
  border-radius: 12px;
  padding: 30px;

  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);

  text-align: center;
}

.card-info .icone {
  width: 60px;
  height: 60px;

  margin: auto;

  border-radius: 50%;

  background: #f4f4f4;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 22px;
}

.card-info.azul i {
  color: #254e7b;
}

.card-info.laranja i {
  color: #c06b31;
}

.card-info.cinza i {
  color: #5b6770;
}

.card-info span {
  display: block;
  margin-top: 15px;

  font-size: 12px;
  font-weight: bold;

  color: #999;
}

.card-info h3 {
  margin-top: 10px;
  font-size: 28px;
  color: #333;
  display: inline;
}

.barra {
  width: 25%;
  height: 4px;

  background: var(--laranja-Senac);

  margin: 10px auto 0;

  border-radius: 50px;

  position: relative;
}



/*========================*/

.titulo {
  width: 95%;
  margin: 40px auto;

  display: flex;
  align-items: center;
  gap: 12px;
}

.titulo .linha {
  width: 5px;
  height: 35px;

  background: #b45d1f;
}

.titulo h2 {
  color: #355b89;
  font-size: 34px;
}

/*========================*/
/* ========================= */
/* AÇÕES RÁPIDAS */
/* ========================= */

.acoes{
    width:95%;
    max-width:1400px;
    margin:40px auto 60px;

    display:grid;
    grid-template-columns:repeat(3, 1fr);
    gap:30px;
}

.card{
    background:#fff;
    border-radius:15px;
    overflow:hidden;

    box-shadow:0 5px 20px rgba(0,0,0,.08);

    transition:.3s;

    display:flex;
    flex-direction:column;
}

.card:hover{
    transform:translateY(-8px);
    box-shadow:0 15px 35px rgba(0,0,0,.15);
}

/* Ícone */

.card-icon{
    height:180px;

    display:flex;
    justify-content:center;
    align-items:center;

    background:linear-gradient(
        135deg,
        var(--azul-Senac),
        var(--azul_Claro-Senac)
    );
}

.card-icon i{
    font-size:75px;
    color:#fff;
}

/* Título */

.overlay{
    background:var(--laranja-Senac);
    color:#fff;

    text-align:center;

    padding:18px;
}

.overlay h3{
    font-size:24px;
    font-weight:bold;
}

/* Conteúdo */

.conteudo{
    padding:25px;

    display:flex;
    flex-direction:column;
    justify-content:space-between;

    flex:1;
}

.conteudo p{
    color:#666;
    line-height:1.7;
    text-align:center;

    margin-bottom:25px;
}

/* Botão */

.conteudo a{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:10px;

    text-decoration:none;

    background:var(--laranja-Senac);
    color:#fff;

    padding:14px;

    border-radius:10px;

    font-weight:bold;

    transition:.3s;
}

.conteudo a:hover{
    background:#d97706;
}

/* ========================= */
/* RESPONSIVO */
/* ========================= */

@media (max-width:1000px){

    .acoes{
        grid-template-columns:repeat(2,1fr);
    }

}

@media (max-width:768px){

    .acoes{
        grid-template-columns:1fr;
    }

    .card-icon{
        height:150px;
    }

    .card-icon i{
        font-size:60px;
    }

    .overlay h3{
        font-size:22px;
    }

}





/*========================*/
.menu-toggle{
    display:none;
    background:none;
    border:none;
    font-size:28px;
    color:var(--branco-Senac);
    cursor:pointer;
}




/* ========================================= */
/* RESPONSIVO */
/* ========================================= */

@media screen and (max-width: 992px) {

    .banner {
        padding: 100px 20px;
    }

    .banner h1 {
        font-size: 32px;
    }

    .banner p {
        width: 100%;
        font-size: 16px;
    }

    .estatisticas {
        grid-template-columns: 1fr;
    }

    .acoes {
        grid-template-columns: 1fr;
    }

    .titulo h2 {
        font-size: 28px;
    }

    .card-info h3 {
        font-size: 24px;
    }

}


/* CELULAR */

@media screen and (max-width: 768px) {

    body{
        padding-top:80px;
    }

    /* Navbar */

    .menu-toggle{
        display:block;
    }

    .nav-menu{
        display:none;
        flex-direction:column;
        position:absolute;
        top:85px;
        left:0;
        width:100%;
        background:#fff;
        padding:20px;
        box-shadow:0 5px 10px rgba(0,0,0,.15);
        gap:20px;
    }

    .nav-menu.active{
        display:flex;
        flex-direction:column;
        background:var(--azul-Senac);
        color:var(--branco-Senac);
        
    }

    .nav-actions{
        gap:10px;
    }

    .btn-perfil{

        font-size:0;

    }

    .btn-perfil i{

        font-size:22px;

    }

    .btn-sair{

        padding:8px 15px;
        font-size:14px;

    }

    /* Banner */

    .banner{

        padding:80px 20px;

    }

    .banner h1{

        font-size:28px;

    }

    .banner p{

        font-size:15px;

    }

    /* Cards */

    .estatisticas{

        grid-template-columns:1fr;

        gap:20px;

    }

    .acoes{

        grid-template-columns:1fr;

        gap:20px;

    }

    .card{

        width:100%;

    }

    .card img{

        height:200px;

    }

    .overlay h3{

        font-size:22px;

    }

    .conteudo{

        padding:20px;

    }

    .titulo{

        margin:30px auto;

    }

    .titulo h2{

        font-size:24px;

    }

}