body{
    margin: 0;
    padding: 0;
}

.pesquisa{
    justify-self: center;
}

.titulo {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.titulo p {
    color: var(--azul-Senac);
    font-size: 26px;
    font-weight: 600;
    border-bottom: 4px solid var(--laranja-Senac);
}

main{
    justify-content: flex-start;
    flex-direction: column;
    margin: 50px;
    min-height: calc(80vh - 90px);
}

section{
    display: flex;
    justify-content: flex-start;
    padding: 25px;
    height: 150px;
}

section p{
    margin: 20px 0px 0px 0px;
    color: var(--azul-Senac);
}

section i{
    font-style: normal;
    color: gray;
}

.borda{
    width: 100px;
    margin: 10px 0px 20px 0px;
    border-bottom: solid;
    border-color: var(--laranja-Senac);
}

section .Botao_entrar_curso{
    width: 150px;
    height: 30px;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--branco-Senac);
    border: none;
    border-radius: 23px;
    background: var(--laranja-Senac);
}

.accordion-container {
    width: 90%;
    margin: 20px auto;
}

.accordion-item {
    background: #fff;
    border-radius: 8px;
    margin-bottom: 12px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    overflow: hidden;
}

.accordion-header {
    width: 1000px;
    background: #005eb8;
    color: white;
    border: none;
    padding: 16px;
    font-size: 18px;
    text-align: left;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.accordion-header .icon {
    font-size: 22px;
    transition: transform 0.3s;
}

.accordion-content {
    display: none;
    justify-content: center;
    padding: 15px;
    background: #f5f5f5;
}

.turma-card {
    width: 200px;
    margin: 15px;
    background: #fff;
    padding: 12px;
    border-radius: 6px;
    border: 1px solid #ddd;
}


@media (max-width: 1024px) {
    .titulo{
        width: 90%;
    }
    .pesquisa{
        width: 60%;
    }
}