body{
    margin: 0;
    padding: 0;
}

.pesquisa{
    justify-self: center;
}

.titulo {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.titulo p {
    color: var(--azul-Senac);
    font-size: 26px;
    font-weight: 600;
    border-bottom: 4px solid var(--laranja-Senac);
}

main{
    align-items: flex-start;
    margin: 50px;
    min-height: calc(74vh - 90px);
}

section{
    display: flex;
    justify-content: flex-start;
    padding: 25px;
    height: 150px;
}

section p{
    margin: 20px 0px 0px 0px;
    color: var(--azul-Senac);
}

section i{
    font-style: normal;
    color: gray;
}

.borda{
    width: 100px;
    margin: 10px 0px 20px 0px;
    border-bottom: solid;
    border-color: var(--laranja-Senac);
}

section .Botao_entrar_curso{
    width: 150px;
    height: 30px;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--branco-Senac);
    border: none;
    border-radius: 23px;
    background: #004A8D;
}

@media (max-width: 1024px) {
    .titulo{
        width: 90%;
    }
    .pesquisa{
        width: 60%;
    }
}