{% extends "base.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'styles/editar_perfil.css' %}">

{% include "partials/header.html" %}

<div class="titulo">
    <p>Editar Perfil</p>
</div>

<main>
    <form method="POST" enctype="multipart/form-data" class="editar-form">
        {% csrf_token %}

        <div class="foto-area">
            {% if usuario.imagem %}
                <img class="perfil-img" src="{{ usuario.imagem.url }}" alt="Foto do usuário">
            {% else %}
                <img class="perfil-img" src="{% static 'img/default_user.png' %}" alt="Foto do usuário">
            {% endif %}

            <label for="imagem" class="alterar-foto">Alterar Foto</label>
            <input type="file" id="imagem" name="imagem" accept="image/*">
        </div>

        <div class="inputs">
            <div class="campo">
                <label>Nome</label>
                <input type="text" name="nome" value="{{ usuario.nome }}">
            </div>

            <div class="campo">
                <label>Sobrenome</label>
                <input type="text" name="sobrenome" value="{{ usuario.sobrenome }}">
            </div>

            <div class="campo">
                <label>Email</label>
                <input type="email" name="email" value="{{ usuario.email }}">
            </div>

            <div class="campo">
                <label>Nova senha:</label>
                <input type="password" name="senha" placeholder="Deixe em branco para manter a senha atual">
            </div>


            <div class="campo">
                <label>Descrição</label>
                <textarea name="descricao">{{ usuario.descricao }}</textarea>
            </div>

            <div class="campo">
                <label>Link da rede social</label>
                <input type="url" id="redeSocialInput" placeholder="Cole aqui qualquer link" maxlength="45">
            </div>

            <button type="button" class="salvar" onclick="salvarRedeSocial()">Adicionar Link</button>
        </div>

        <div class="botoes">
            <a href="{% url 'perfil' %}" class="cancelar">Cancelar</a>
            <button type="submit" class="salvar">Salvar Alterações</button>
        </div>

    </form>
</main>

{% include "partials/footer.html" %}
{% endblock %}
