{% extends "base.html" %}
{% load static %}

{% block content %}
    <link rel="stylesheet" href="{% static 'styles/forum.css' %}">

    {% block header %}
        {% include "partials/header.html" %}
    {% endblock %}

    <div class="titulo">
        <p>{{ forum.nome }}</p>
    </div>

    <div class="main" >
        <div class="mensagens">
            {% for msg in mensagens %}
                <div class="msg {% if msg.autor.email == request.session.usuario_email %}minha-msg{% else %}outra-msg{% endif %}">
                    <strong>{{ msg.autor.nome }}:</strong>
                    <div class="conteudo">{{ msg.conteudo }}</div>
                     <small>{{ msg.criado_em|date:"H:i d/m/Y" }}</small>
                 </div>
            {% empty %}
                <p>Nenhuma mensagem ainda. Seja o primeiro a enviar!</p>
            {% endfor %}
        </div>
        
        <form method="POST">
            {% csrf_token %}
            <input type="text" name="conteudo" placeholder="Digite sua mensagem..." autocomplete="off" maxlength="100000">
            <button type="submit">Enviar</button>
        </form>
    </div>

{% endblock %}

{% block footer %}
    {% include "partials/footer.html" %}
{% endblock %}