{% extends "base.html" %}
{% load static %}

{% block content %}
    <link rel="stylesheet" href="{% static 'styles/global.css' %}">
    <link rel="stylesheet" href="{% static 'styles/home_Aluno.css' %}">

    {% block header %}
        {% include "partials/header.html" %}
    {% endblock %}

    <div class="titulo">
        <p>Cursos</p>
        <img class="filtro_icone" src="{% static 'img/Filtro.png' %}" alt="filtro">
    </div>

    
    {% if query %}
    {% for Curso in curso %}
    {% empty %}
        <p style="justify-self: center; margin-top: 20px;">Nenhum resultado encontrado.</p>
    {% endfor %}
    {% endif %}
    
    <aside class="sidebar-filtro">
        <h3 style="justify-self: center; color: #004A8D;">Filtros</h3>
        <form class="campo_pesq" method="get" action="{% url 'home' %}">
            <input class="pesquisa" name="q" type="search" placeholder="Pesquisar" value="{{ query }}" autofocus/>
            {% if query %}
                <a style="color: #004A8D;" href="{% url 'home' %}" >Limpar</a>
            {% endif %}
            <div class="btn-toggle-filtro" onclick="
                const f = document.querySelector('.sidebar-filtro');
                f.style.display = (f.style.display === 'block') ? 'none' : 'block';">
            </div>
        </form>

        <form method="get" action="{% url 'home' %}">
            <!-- FILTRO: Data de início -->
            <div class="campo-filtro">
                <label>Data de início:</label>
                <input type="date" name="inicio" value="{{ request.GET.inicio }}">
            </div>
        
            <!-- FILTRO: Data final -->
            <div class="campo-filtro">
                <label>Data final:</label>
                <input type="date" name="fim" value="{{ request.GET.fim }}">
            </div>
        
            <!-- FILTRO: Ordenação -->
            <div class="campo-filtro">
                <label>Ordenar por:</label>
                <select name="ordenar">
                    <option value="">Padrão</option>
                    <option value="asc" {% if request.GET.ordenar == 'asc' %}selected{% endif %}>Nome (A → Z)</option>
                    <option value="desc" {% if request.GET.ordenar == 'desc' %}selected{% endif %}>Nome (Z → A)</option>
                </select>
            </div>
        
            <button type="submit" class="btn-aplicar">Aplicar Filtros</button>
        </form>
    </aside>
    
    <main class="blocos">
        {% for Curso in curso %}
            <section>
                <img class="imagem_curso" src="{% static 'img/tecnologia.png' %}" alt="Imagem do curso" />
                <p>{{ Curso.nome_curso }}</p>
                <div class="borda"></div>
                <a class="Botao_entrar_curso" href="{% url 'turmas' curso_id=Curso.idcurso %}">Entrar</a>
            </section>
        {% endfor %}
    </main>   

{% endblock %}

{% block footer %}
    {% include "partials/footer.html" %}
{% endblock %}