{% extends "base.html" %}
{% load static %}

{% block content %}
    <!DOCTYPE html>
    <html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'styles/home_Aluno.css' %}">
    </head>

    {% block header %}
        {% include "partials/header.html" %}
    {% endblock %}

    <div class="titulo">
        <p>Cursos</p>
        <img class="filtro_icone" src="{% static 'img/famicons_filter.svg' %}" alt="filtro" />
    </div>
    <input class="pesquisa" type="search" placeholder="Pesquisar" />
    <main class="blocos">
        {% for Curso in curso %}
            <section>
                <img class="imagem_curso" src="{% static 'img/tecnologia.png' %}" alt="Imagem do curso" />
                <p>{{ Curso.nome_curso }}</p>
                <div class="borda"></div>
                <a class="Botao_entrar_curso" href="{% url 'turmas' curso_id=Curso.idcurso %}">Entrar</a>
            </section>
        {% endfor %}
        <!-- Ícone flutuante do chat -->
        <div class="chatbot-icon" id="chatbotIcon">
            <img src={% static 'img/robo.webp' %} alt="chatbot" class="chatbot-img">
        </div>

        <!-- Caixa do chat -->
        <div class="chatbox" id="chatBox">
            <div class="chat-header">
                <img src={% static 'img/robo.webp' %} alt="bot" class="bot-icon">
                <span>Chat suporte</span>
            </div>

            <div class="chat-body">
                <div class="chat-message">Onde estão os meus PI’s?</div>
                <div class="chat-message">Como Usar o Fórum?</div>
                <div class="chat-message">Onde eu Vejo o meu repositório?</div>
                <div class="chat-message">Como ver os outros PI’s?</div>
                <div class="chat-message">Como ver os eventos?</div>
                <div class="chat-message">Como achar os meus certificados?</div>
            </div>

            <div class="chat-footer">
                <input type="text" id="userInput" placeholder="Digite sua mensagem...">
                <button id="sendBtn">
                    <img src={% static 'img/enviar.webp' %} alt="Enviar" class="send-icon">
                </button>
            </div>
        </div>
    </main>
    <script src={% static 'scripts/chat_suporte.js' %}></script>
{% endblock %}

{% block footer %}
    {% include "partials/footer.html" %}
{% endblock %}