{% extends "base.html" %}
{% load static %}

{% block content %}
    <link rel="stylesheet" href="{% static 'styles/perfil_Aluno.css' %}">
    <link rel="stylesheet" href="{% static 'styles/global.css' %}">

    {% block header %}
        {% include "partials/header.html" %}
    {% endblock %}

    <div class="titulo">
        <p>Meu Perfil</p>
    </div>

    <main>
        <section class="perfil-container">

            <div class="foto-nome">
                {% if usuario.imagem %}
                    <img class="perfil-img" src="{{ usuario.imagem.url }}" alt="Foto do usuário">
                {% else %}
                    <img class="perfil-img" src="{% static 'img/default_user.png' %}" alt="Foto do usuário">
                {% endif %}
                <p class="Nome_Usuario">{{ usuario.nome }} {{ usuario.sobrenome }}</p>
            </div>

            <div class="info-card">
                <p><strong>Email:</strong> {{ usuario.email }}</p>
                <p><strong>Tipo:</strong> {{ usuario.tipo }}</p>
            </div>
            
            <div class="descricao">
                <p><strong>Descrição:</strong></p>
                {{ usuario.descricao|default:"Sem descrição." }}
            </div>

            <div class="info-card">
                <p><strong>Redes sociais:</strong></p>
                <ul id="lista-redes" style="list-style-type: none; padding-left: 0;"></ul>
                <style>
                    #lista-redes a {
                        margin-bottom: 8px;
                        color: #4295e2ff;
                    }
                </style>
            </div>

            <a href="{% url 'editar_perfil' %}" class="Editar_Perfil">Editar Perfil</a>
        </section>
    </main>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        let area = document.getElementById("lista-redes");

        let links = JSON.parse(localStorage.getItem("links_redes")) || [];

        if (links.length === 0) {
            area.innerHTML = "<li>Nenhum link cadastrado.</li>";
            return;
        }

        links.forEach(link => {
            let li = document.createElement("li");
            li.innerHTML = `<a href="${link}" target="_blank">${link}</a>`;
            area.appendChild(li);
        });
    });
</script>

{% endblock %}

{% block footer %}
    {% include "partials/footer.html" %}
{% endblock %}
