{% extends "base.html" %}
{% load static %}

{% block content %}
    <link rel="stylesheet" href="{% static 'styles/global.css' %}">
    <link rel="stylesheet" href="{% static 'styles/repositorio.css' %}">
    
    {% block header %}
        {% include "partials/header.html" %}
    {% endblock %}

    <div class="rota">Página: Cursos > Turmas > Repositório</div>

    <div class="titulo">
        <p>Repositório</p>
    </div>

    <div class="turma-repositorio">
        <h3>Nome do Curso - Código da Turma (Turno)</h3>

        <!-- Pastas -->
        <div class="pastas">
            <h4>Pastas</h4>
            <ul class="lista-pastas">
                <li class="pasta-item">
                    <div class="pasta-info">
                        {% comment %} <img src={% static 'img/icone de past.png' %}> {% endcomment %}
                        <a class="pasta-link" href="#">📁 Nome da Pasta</a>
                        <p><strong>Criada por:</strong> Usuário - <strong>Em:</strong> 01/01/2024</p>
                    </div>
                </li>

                <li class="pasta-item">
                    <div class="pasta-info">
                        <a class="pasta-link" href="#">📁 Outra Pasta</a>
                        <p><strong>Criada por:</strong> Usuário - <strong>Em:</strong> 05/01/2024</p>
                    </div>
                </li>

                <li class="sem-pasta">Nenhuma pasta</li>
            </ul>
        </div>

        <!-- Arquivos -->
        <div class="arquivos">
            <h4>Arquivos</h4>
            <ul class="lista-arquivos">
                <li class="arquivo-item">
                    <a href="#" download>
                        📄 Nome do Arquivo
                    </a>
                    <p><strong>Criado por:</strong> Usuário - <strong>Em:</strong> 02/02/2024</p>
                </li>

                <li class="arquivo-item">
                    <a href="#" download>
                        📄 Outro Arquivo
                    </a>
                    <p><strong>Criado por:</strong> Usuário - <strong>Em:</strong> 03/02/2024</p>
                </li>

                <li class="sem-arquivo">Nenhum arquivo</li>
            </ul>
        </div>
    </div>

{% endblock %}

{% block footer %}
    {% include "partials/footer.html" %}
{% endblock %}
