{% extends "base.html" %}
{% load static %}

{% block content %}
    <link rel="stylesheet" href="{% static 'styles/global.css' %}">
    <link rel="stylesheet" href="{% static 'styles/turmas.css' %}">

    {% block header %}
        {% include "partials/header.html" %}
    {% endblock %}

    <div class="rota">Página: Cursos > Turmas</div>

    <div class="titulo">
        <p>Turmas</p>
    </div>
    
    <main class="accordion-container">

        {% for ano, turmas_do_ano in turmas_por_ano.items %}
        
        <div class="accordion-item">
            <button class="accordion-header">
                <span>Ano {{ ano }}</span>
                <span class="icon">+</span>
            </button>
    
            <div class="accordion-content">
                {% for Turma in turmas_do_ano %}
                    <section class="turma-card">
                        <p><strong>Código:</strong> {{ Turma.codigo_turma }}</p>
                        <p><strong>Turno:</strong> {{ Turma.turno }}</p>
                        <a class="Botao_entrar_curso" href="{% url 'projetos_da_turma' Turma.idturma %}">Ver Projetos</a>
                    </section>
                {% endfor %}
            </div>
        </div>
    
        {% endfor %}
    
    </main>

    <script>
        document.querySelectorAll('.accordion-header').forEach(header => {
            header.addEventListener('click', () => {

                const content = header.nextElementSibling;
                const icon = header.querySelector('.icon');
                const isOpen = content.classList.contains('open');

                // fecha todos
                document.querySelectorAll('.accordion-content').forEach(c => {
                    c.classList.remove('open');
                });
                document.querySelectorAll('.accordion-header .icon').forEach(i => {
                    i.textContent = "+";
                });

                // abre somente se estava fechado
                if (!isOpen) {
                    content.classList.add('open');
                    icon.textContent = "−";
                }
            });
        });
    </script>

{% endblock %}

{% block footer %}
    {% include "partials/footer.html" %}
{% endblock %}