{% extends "base.html" %}
{% load static %}

{% block content %}
    {% comment %} <link rel="stylesheet" href="{% static 'styles/global.css' %}"> {% endcomment %}
    <link rel="stylesheet" href="{% static 'styles/turmas.css' %}">
    <link rel="stylesheet" href="{% static 'styles/pesquisa.css' %}">

    {% block header %}
        {% include "partials/header.html" %}
    {% endblock %}

    <div class="container">
        
        <header class="section-header">
            <div class="rota">
                Página: Turmas
            </div>
            <div class="titulo">
                <p class="main-title">Turmas</p>
            </div>
        </header>

       <div class="anos-wrapper">
            <div class="anos-container">
                <button class="ano ativo">2022</button>
                <button class="ano">2023</button>
                <button class="ano">2024</button>
                <button class="ano">2025</button>
                <button class="ano">2026</button>
                <button class="ano">2027</button>
                <button class="ano">2028</button>
                <button class="ano">2029</button>
                <button class="ano">2030</button>
            </div>

            <div class="scroll-indicator">
                <i class="fa-solid fa-chevron-right"></i>
            </div>
        </div>


        {% for ano, turmas_do_ano in turmas_por_ano.items %}

        <div class="ano-header">
            <h2>Ano {{ ano }}</h2>

            <div class="linha"></div>

            <span class="turmas-ativas">
                {{ turmas_do_ano|length }} Turma{{ turmas_do_ano|length|pluralize:"s" }}
            </span>
        </div>

        <div class="cards-container">

            {% for turma in turmas_do_ano %}

            <div class="curso-card">

                <div class="card-topo">
                    <span class="codigo">
                        {{ turma.codigo_turma }}
                    </span>

                    <span class="turno">
                        {{ turma.turno }}
                    </span>
                </div>

                <h3>
                    {{ turma.turmas }}
                </h3>
                <p class="professor">
                    <strong>Professor:</strong> {{ turma.professor }}
                </p>



                <a class="btn-detalhes"
                href="{% url 'projetos_da_turma' turma.idturma %}">
                    Ver Projetos
                </a>

            </div>

            {% endfor %}

        </div>

        {% endfor %}
















    </main> 

    

   









    
    

{% endblock %}

{% block footer %}
    {% include "partials/footer.html" %}
{% endblock %}