{% extends "base.html" %}
{% load static %}

{% block content %}
    <link rel="stylesheet" href="{% static 'styles/global.css' %}">
    <link rel="stylesheet" href="{% static 'styles/turmas.css' %}">

    {% block header %}
        {% include "partials/header.html" %}
    {% endblock %}

    <div class="titulo">
        <p>Turmas</p>
    </div>
    <input class="pesquisa" type="search" placeholder="Pesquisar" />
    <main class="blocos">
        {% for Turma in turmas %}
            <section>
                <p>Código da Turma: {{ Turma.codigo_turma }}</p>
                <div class="borda"></div>
                <i>Turno: {{ Turma.turno }}</i>
                <a class="Botao_entrar_curso" href="{% url 'repositorio' %}">Entrar</a>
            </section>
        {% endfor %}
    </main>
{% endblock %}

{% block footer %}
    {% include "partials/footer.html" %}
{% endblock %}