{% load static %}

<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" />

<header class="navbar">

    <!-- LOGO -->
    <div class="logo">
        <a href="{% url 'home' %}">
            <img src="{% static 'img/Logo_branco_icone.png' %}" alt="Logo">
        </a>
    </div>

    <!-- MENU MOBILE -->
    <button id="menuToggle" class="hamburger" aria-label="Abrir menu">
        ☰
    </button>

    <!-- MENU -->
    <nav id="site-nav" class="menu">

        <a
            href="{% url 'home' %}"
            class="{% if request.resolver_match.url_name == 'home' %}active{% endif %}">
            Cursos
        </a>

        <a
            href="{% url 'forum_blocos' %}"
            class="{% if request.resolver_match.url_name == 'forum_blocos' %}active{% endif %}">
            Fórum
        </a>

        <a
            href="{% url 'calendario' %}"
            class="{% if request.resolver_match.url_name == 'calendario' %}active{% endif %}">
            Eventos
        </a>

        <a
            href="{% url 'perfil' %}"
            class="{% if request.resolver_match.url_name == 'perfil' %}active{% endif %}">
            Perfil
        </a>

    </nav>

    <!-- USUÁRIO -->
    <div class="user">

        <a href="{% url 'perfil' %}">
            <span>Olá, {{ usuario.nome }}</span>
        </a>

        <a href="{% url 'login' %}" class="logout">
            <span class="material-symbols-outlined">
                logout
            </span>
        </a>

    </div>

</header>

<script>
document.addEventListener('DOMContentLoaded', () => {

    const btn = document.getElementById('menuToggle');
    const navbar = document.querySelector('.navbar');

    if(btn){

        btn.addEventListener('click', () => {

            navbar.classList.toggle('nav-open');

        });

    }

    window.addEventListener('resize', () => {

        if(window.innerWidth > 768){

            navbar.classList.remove('nav-open');

        }

    });

});
</script>