{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coordenação</title>

    <link rel="stylesheet" href="{% static 'styles/navbar_Coordenacao.css' %}?v=1">
    {% comment %} <link rel="stylesheet" href="{% static 'styles/HomeCoord.css' %}?v=1"> {% endcomment %}

    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
</head>
<body>

<nav class="navbar">
    <div class="nav-logo">
        <a href="{% url 'HomeCoord' %}">
            <img src="{% static 'img/Logo_branco_icone.png' %}" alt="Logo Senac">
        </a>
    </div>

    <button class="menu-toggle" id="menuToggle">
        <i class="fa-solid fa-bars"></i>
    </button>


    <ul class="nav-menu" id="navMenu">
        <li><a href="{% url 'HomeCoord' %}">Home</a></li>
        <li> <a href="{% url 'UsuariosCoord' %}">Usuários</a></li>
        <li><a href="{% url 'CursoCoord' %}">Cursos</a></li>
        <li><a href="{% url 'TurmaCoord' %}">Turmas</a></li> 
    </ul>

    <div class="nav-actions">
        {% comment %} <a href="{% url 'PerfilCoord' %}" class="btn-perfil">
            <i class="fa-solid fa-user"></i>
            Perfil
        </a> {% endcomment %}

        <a href="{% url 'login' %}" class="btn-sair">
            <i class="fa-solid fa-right-from-bracket"></i>
            Sair
        </a>
    </div>
</nav>

<script src="{% static 'scripts/coordenacao.js' %}"></script>