{% load static %}

<nav class="navbar">
    <div class="nav-logo">
        <a href="{% url 'HomeCoord' %}">
            <img src="{% static 'img/Logo_branco_icone.png' %}" alt="Logo Senac">
        </a>
    </div>

    <button class="menu-toggle" id="menuToggle">
        <i class="fa-solid fa-bars"></i>
    </button>


    <ul class="nav-menu" id="navMenu">
        <li><a href="{% url 'HomeCoord' %}">Home</a></li>
        <li> <a href="{% url 'UsuariosCoord' %}">Usuários</a></li>
        <li><a href="{% url 'CursoCoord' %}">Cursos</a></li>
        <li><a href="">Turmas</a></li> 
    </ul>

    <div class="nav-actions">
        <a href="" class="btn-perfil">
            <i class="fa-solid fa-user"></i>
            Perfil
        </a>

        <a href="" class="btn-sair">
            <i class="fa-solid fa-right-from-bracket"></i>
            Sair
        </a>
    </div>
</nav>

<script src="{% static 'scripts/coordenacao.js' %}"></script>