body{
    
}

.container_cabecalho {
    display: flex; /* Habilita o uso de flexbox */
    align-items: center; /* Alinha verticalmente o conteúdo ao centro */
    /* Outras propriedades para ajustar o espaçamento, etc. */
  }
  
  
.img{
    width: 153px;
    height: 134px;
    flex-shrink: 0;
}
.img {
    margin-right: 20px; /* Adiciona um espaço entre a imagem e o texto */
}