:root {
    --primary-Senac:#F7941D;
    --second-Senac:#FFF;
}

body{
    background-color: var(--primary-Senac);
}

.card-login{
    justify-self: center;
    align-self: center;
    width: 947px; 
    height: 907px;
    border-radius: 66px;
    background: var(--second-Senac);
    box-shadow: 52px 4px 43px 0 rgba(0, 0, 0, 0.25);
}