{% extends "base.html" %}
{% load static %}

{% block content %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/cadastro_Aluno.css' %}?=V1">
</head>

{% block header %}
    {% include "partials/header.html" %}
{% endblock %}
    
<div class="titulo_usuario">
    <p>Cadastro Turma</p>
</div>

<form action="{% url 'enviarturma' %}" method="POST">
    {% csrf_token %}

    <label for="codigo_turma">Código da Turma:</label>
    <input type="text" id="codigo_turma" name="codigo_turma" required placeholder="Digite o código da turma">

    <label for="curso">Curso:</label>
    
    <select id="curso" name="curso" required>
        {% for curso in cursos %}
            <option value="{{ curso.idcurso }}">{{ curso.nome_curso }}</option>
        {% endfor %}
    </select>

    <label for="turno">Turno:</label>
    <select id="turno" name="turno" required>
        <option value="" disabled selected>Selecione uma opção</option>
        <option value="Manhã">Manhã</option>
        <option value="Tarde">Tarde</option>
        <option value="Noite">Noite</option>
    </select>

    <button type="submit">Salvar</button>
    <button type="button" onclick="window.location.href='{% url 'listaturma' %}'">Listar</button>
    <button type="button" onclick="window.history.back()">Voltar</button>
</form>

</html>
{% endblock %}


