{% load static %}

<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cursos</title>

    <link rel="stylesheet" href="{% static 'styles/navbar_coordenacao.css' %}">
    <link rel="stylesheet" href="{% static 'styles/CursoCoord.css' %}">

    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
</head>

<body>

    {% include 'partials/navbar_Coordenacao.html' %}

    <section class="topo-pagina">
        <div>
            <h1><i class="fa-solid fa-graduation-cap"></i> Cursos</h1>
            <p>Cadastre, edite e gerencie todos os cursos da instituição.</p>
        </div>
    </section>

    <main class="container-geral">

        <section class="lista_conteudo container-curso lista-curso" id="listaCurso">
            <!-- Barra Superior -->
            <div class="barra-superior-lista">

                <div class="filtros-lista-curso">

                    <!-- Pesquisa -->
                    <div class="busca-geral">
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <input
                            type="text"
                            id="pesquisarCurso"
                            placeholder="Buscar por nome do curso..."
                        >
                    </div>

                </div>
                <!-- Botão -->
                <a href="#" class="btn-add-geral" id="abrirModalCurso">
                    <i class="fa-solid fa-user-plus"></i>
                    Novo Curso
                </a>

            </div>
          

            <!-- Lista -->
            <section class="lista-curso-conteudo">

                <ul>
                    <!-- Cabeçalho -->
                    <li class="curso-cabecalho">
                        <span>Nome</span>
                        <span>Início</span>
                        <span>Término</span>
                        <span>Ações</span>
                    </li>

                    {% for curso in cursos %}

                    <!-- Curso -->
                    <li class="curso-item">
                        <span>{{ curso.nome_curso }}</span>
                        <span>{{ curso.data_inicio|date:"d/m/Y" }}</span>
                        <span>{{ curso.data_final|date:"d/m/Y" }}</span>

                        <div class="acoes-geral_usuario">

                            <button
                                type="button"
                                class="btn-editar"
                                data-id="{{ curso.idcurso }}"
                                data-nome="{{ curso.nome_curso }}"
                                data-inicio="{{ curso.data_inicio|date:'Y-m-d' }}"
                                data-final="{{ curso.data_final|date:'Y-m-d' }}"
                                data-descricao="{{ curso.descricao_curso }}">
                                <i class="fa-solid fa-pen-to-square"></i>
                            </button>

                           <button
                                class="btn-descricao icon-descricao"
                                data-descricao="{{ curso.descricao_curso|escapejs }}">
                                <i class="fa-solid fa-align-center"></i>
                            </button> 

                            <form method="POST" action="{% url 'excluir_curso' curso.idcurso %}" class="form-excluir-curso">
                                {% csrf_token %}

                                <button
                                    type="button"
                                    class="btn-excluir abrir-modal-excluir"
                                    data-id="{{ curso.idcurso }}"
                                    data-nome="{{ curso.nome }}">
                                    <i class="fa-solid fa-trash"></i>
                                </button>
                            </form>
                        </div>
                    </li>
                    {% empty %}
                    <li class="curso-vazio">
                        Nenhum curso cadastrado.
                    </li>
                    {% endfor %}
                </ul>

                <!-- MODAL CADASTRO CURSO -->
                <div id="modalCadastroCurso" class="modal">
                    <div class="modal-conteudo">
                        
                        <div class="titulo_lista_curso">

                            <h2>
                                <i class="fa-solid fa-user-plus"></i>
                                Cadastro Curso
                            </h2>

                            <span class="fechar" id="fecharModalCurso">&times;</span>
                        </div>

                        <form action="{% url 'criar_curso' %}" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}

                            <label for="nome_curso">Nome do Curso</label>
                            <input type="text" id="nome_curso" name="nome_curso" placeholder="Ex: Tecnico em..." >

                            <div class="datas">

                                <div>
                                    <label for="data_inicio">Data de Início</label>
                                    <input type="date" id="data_inicio" name="data_inicio" placeholder="Ex: 00-00-0000">
                                </div>

                                <div>
                                    <label for="data_final">Data de Término</label>
                                    <input type="date" id="data_final" name="data_final" placeholder="Ex: 00-00-0000">
                                </div>

                            </div>

                            <label for="descricao_curso">Descrição</label>
                            <textarea id="descricao_curso" name="descricao_curso" placeholder="Breve resumo do curso..."></textarea>

                            <div class="botoes-modal">

                                <button type="button" id="cancelarModalCurso" class="btn-cancelar">
                                    Cancelar
                                </button>

                                <button type="submit" class="btn-salvar">
                                    Salvar Curso
                                </button>

                            </div>
                        </form>
                    </div>
                </div>
            </section>
        </section>

        {% comment %} MODAL EDITAR CURSO {% endcomment %}
            <div id="modalEditarCurso" class="modal">
                <div class="modal-conteudo">
                    <span class="fechar" id="fecharEditarCurso">&times;</span>

                    <div class="titulo_lista_editar_curso">
                        <i class="fa-solid fa-user-pen"></i>
                        <p>Editar Curso</p>
                    </div>

                    <form action="{% url 'editar_curso' %}" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}

                        <input type="hidden" name="idcurso" id="edit_idcurso">

                        <label>Nome do Curso:</label>
                        <input type="text" id="edit_nome_curso" name="nome_curso" required>

                        <label>Data de Início:</label>
                        <input type="date" id="edit_data_inicio" name="data_inicio">

                        <label>Data de Término:</label>
                        <input type="date" id="edit_data_final" name="data_final">

                        {% comment %} <label>Imagem do Curso:</label>
                        <input type="file" id="edit_imagem" name="imagem" accept="image/*"> {% endcomment %}

                        <label>Descrição:</label>
                        <textarea id="edit_descricao_curso" name="descricao_curso" rows="4"></textarea> 

                        <div class="acoes-modal">
                            <button type="button" id="cancelarEditarCurso" class="btn-cancelar">
                                Cancelar
                            </button>

                            <button type="submit" class="btn-salvar">
                                Salvar Alterações
                            </button>
                        </div>
                    </form>
                </div>
            </div>
    </main>

    <div id="modalExcluirCurso" class="modal-excluir-curso">

        <div class="modal-excluir-curso-conteudo">

            <h2 class="modal-excluir-curso-titulo">Excluir curso</h2>

            <p id="textoExcluirCurso" class="modal-excluir-curso-texto"></p>

            <form id="formExcluirCurso" method="POST" data-url="{% url 'excluir_curso' 0 %}">
                {% csrf_token %}

                <div class="modal-excluir-curso-botoes">

                    <button
                        type="button"
                        id="cancelarExcluirCurso"
                        class="btn-cancelar-curso">
                        Cancelar
                    </button>

                    <button
                        type="submit"
                        class="btn-confirmar-excluir-curso">
                        Excluir
                    </button>

                </div>

            </form>

        </div>

    </div>


    <div id="modalExcluirTurma" class="modal-excluir-curso">

        <div class="modal-excluir-curso-conteudo">

            <h2 class="modal-excluir-curso-titulo">
                Excluir turma
            </h2>

            <p id="textoExcluirTurma" class="modal-excluir-curso-texto"></p>

            <form
                id="formExcluirTurma"
                method="POST"
                data-url="{% url 'excluir_turma' 0 %}">

                {% csrf_token %}

                <div class="modal-excluir-curso-botoes">

                    <button
                        type="button"
                        id="cancelarExcluirTurma"
                        class="btn-cancelar-curso">

                        Cancelar

                    </button>

                    <button
                        type="submit"
                        class="btn-confirmar-excluir-curso">

                        Excluir

                    </button>

                </div>

            </form>

        </div>

    </div>


    {% if messages %}
        <div class="toast-container">
            {% for message in messages %}
                <div class="toast {{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    {% endif %}

    <script>

        document.addEventListener("DOMContentLoaded", () => {

            const toast = document.querySelector(".toast");

            if (toast) {

                setTimeout(() => {

                    toast.style.transition = ".4s";
                    toast.style.opacity = "0";
                    toast.style.transform = "translateX(120%)";

                    setTimeout(() => {
                        toast.remove();
                    }, 400);

                }, 3000);

            }

        });
       
    </script>


 <script src="{% static 'scripts/coordenacao.js' %}"></script>
{% include "partials/footer.html" %}
</body>
</html>