{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - Coordenação</title>
    <link rel="stylesheet" href="{% static 'styles/home_Coordenacao.css' %}?=V1">
</head>
<body>
    <!-- HEADER -->
    <header class="header">
        <a href="{% url 'home_Coordenacao' %}">
            <img src="{% static 'img/LOGO_BRANCO.png' %}" alt="Logo Inova">
        </a>
    </header>

    <!-- SEÇÃO PRINCIPAL -->
    <main class="maincontainer">

        <aside class="menu-lateral">
            <div class="cards-home">

                <div class="card">
                    <img src="{% static 'img/users-solid-full.svg' %}" alt="Usuário">
                    <h3>Usuário</h3>
                    <p>Adicione novos usuários à plataforma</p>
                    <a href="#" class="botao-card" onclick="mostrarLista('listaUsuario')">Acessar</a>
                </div>
            
                <div class="card">
                    <img src="{% static 'img/chalkboard-user-solid-full.svg' %}" alt="Cursos">
                    <h3>Cursos</h3>
                    <p>Veja a lista de cursos disponíveis</p>
                    <a href="#" class="botao-card" onclick="mostrarLista('listaCurso')">Acessar</a>
                </div>
            
                <div class="card">
                    <img src="{% static 'img/user-graduate-solid-full.svg' %}" alt="Turmas">
                    <h3>Turmas</h3>
                    <p>Gerencie suas turmas e horários</p>
                    <a href="#" class="botao-card" onclick="mostrarLista('listaTurma')">Acessar</a>
                </div>
            
                <div class="card">
                    <img src="{% static 'img/user-solid-full.svg' %}" alt="Perfil">
                    <h3>Perfil</h3>
                    <p>Gerencie seu perfil</p>
                    <a href="#" class="botao-card" onclick="mostrarLista('listaPerfil')">Acessar</a>
                </div>
            
            </div>
        </aside>

         <!-- IMAGEM INICIAL -->
         <div id="painelImagem" class="painel-imagem">
            <img src="{% static 'img/LOGO_AZUL.png' %}" alt="Logo Inova">
        </div>

        <section class="section-wrapper">

            <!-- LISTAS (LADO DIREITO) -->
            <!-- USUÁRIO -->
            <section class="container_usuario lista_conteudo" id="listaUsuario" style="display:none;">
                <div class="titulo_lista">
                    <p>Lista Usuário</p>
                    <a href="#" class="btn-add" id="abrirModal">Cadastro</a>
                </div>

                <!-- Modal Cadastro -->
                <div id="modalCadastro" class="modal">
                    <div class="modal-conteudo">
                        <span class="fechar" id="fecharModal">&times;</span>
                        <div class="titulo_lista">
                            <p>Cadastro Usuário</p>
                        </div>
                        <form action="{% url 'home_Coordenacao' %}" method="POST" ...>

                            {% csrf_token %}
                            <label for="nome">Primeiro Nome:</label>
                            <input type="text" id="nome" name="nome" required placeholder="Digite seu nome">
                            <label for="Sobrenome">Sobrenome:</label>
                            <input type="text" id="Sobrenome" name="Sobrenome" required placeholder="Digite seu sobrenome">
                            <label for="Email">Email:</label>
                            <input type="email" id="Email" name="Email" required placeholder="exemplo@gmail.com">
                            <label for="Senha">Senha:</label>
                            <input type="password" id="Senha" name="Senha" required placeholder="***********">
                            <label for="descricao">Descrição:</label>
                            <textarea id="descricao" name="descricao" rows="4" placeholder="Lorem ipsum dolor sit amet...."></textarea>
                            <label for="imagem">Imagem:</label>
                            <input type="file" id="imagem" name="imagem" accept="image/*">
                            <label for="tipoCadastro">Escolha sua opção de cadastro:</label>
                            <select id="tipoCadastro" name="tipoCadastro" required>
                                <option value="" disabled selected>Selecione uma opção</option>
                                <option value="Professor">Professor</option>
                                <option value="Aluno">Aluno</option>
                                <option value="Coordenacao">Coordenação</option>
                            </select>
                            <button type="submitsalvar">Salvar</button>
                            <button type="buttoncancelar" id="cancelarModal">Cancelar</button>
                        </form>
                    </div>
                </div>

               <!-- Modal Editar Usuário -->
                <div id="modalEditar" class="modal">
                    <div class="modal-conteudo">
                        <span class="fechar" id="fecharEditar">&times;</span>
                        <div class="titulo_lista">
                            <p>Editar Usuário</p>
                        </div>
                        <form id="formEditarUsuario" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <input type="hidden" id="idusuarioEdit" name="idusuario">
                            
                            <label for="nomeEdit">Primeiro Nome:</label>
                            <input type="text" id="nomeEdit" name="nome" required placeholder="Digite seu nome">

                            <label for="SobrenomeEdit">Sobrenome:</label>
                            <input type="text" id="SobrenomeEdit" name="sobrenome" required placeholder="Digite seu sobrenome">

                            <label for="EmailEdit">Email:</label>
                            <input type="email" id="EmailEdit" name="email" required placeholder="exemplo@gmail.com">

                            <label for="SenhaEdit">Senha:</label>
                            <input type="password" id="SenhaEdit" name="senha" required placeholder="***********">

                            <label for="descricaoEdit">Descrição:</label>
                            <textarea id="descricaoEdit" name="descricao" rows="4" placeholder="Lorem ipsum dolor sit amet...."></textarea>

                            <label for="imagemEdit">Imagem:</label>
                            <input type="file" id="imagemEdit" name="imagem" accept="image/*">

                            <label for="tipoCadastroEdit">Escolha sua opção de cadastro:</label>
                            <select id="tipoCadastroEdit" name="tipoCadastro" required>
                                <option value="" disabled selected>Selecione uma opção</option>
                                <option value="professor">Professor</option>
                                <option value="aluno">Aluno</option>
                                <option value="coordenacao">Coordenação</option>
                            </select>

                            <button type="submit">Salvar</button>
                            <button type="button" id="cancelarEditar">Cancelar</button>
                        </form>
                    </div>
                </div>



                <!-- Lista Usuário -->
                <section class="lista-completa">
                    <ul>
                        <li class="cabecalho">
                            <span>Nome</span>
                            <span>Sobrenome</span>
                            <span>Email</span>
                            <span>Senha</span>
                            <span>Descrição</span>
                            <span>Imagem</span>
                            <span>Tipo de Usuário</span>
                            <span class="acoes">Ações</span>
                        </li>
                        {% for usuario in usuarios %}
                        <li data-id="{{ usuario.idusuario }}">
                            <span>{{ usuario.nome }}</span>
                            <span>{{ usuario.sobrenome }}</span>
                            <span>{{ usuario.email }}</span>
                            <span>••••••</span>
                            <span>{{ usuario.descricao }}</span>
                            {% if usuario.imagem %}
                            <span><img src="{{ usuario.imagem.url }}" alt="Foto"></span>
                            {% else %}
                            <span><img src="{% static 'img/default_user.png' %}" alt="Sem foto"></span>
                            {% endif %}
                            <span>{{ usuario.tipo }}</span>

                           <span class="acoes">
                                <button type="button" class="botao-editar">Editar</button>

                                <form action="{% url 'excluir_usuario' usuario.idusuario %}" method="POST">
                                    {% csrf_token %}
                                    <button type="submit" class="botao-excluir" onclick="return confirm('Tem certeza?')">Excluir</button>
                                </form>
                            </span>

                            
                        </li>
                        {% empty %}
                        <li><span>Nenhum usuário cadastrado ainda.</span></li>
                        {% endfor %}
                    </ul>
                </section>
            </section>



            <!-- CURSOS -->
            <section class="container_usuario lista_conteudo" id="listaCurso" style="display:none;">
                <div class="titulo_lista">
                    <p>Lista de Cursos</p>
                    <a href="#" class="btn-add" id="abrirModalCurso">Cadastro</a>
                </div>
                <section class="lista-completa">
                    <ul>
                        <li class="cabecalho">
                            <span>Nome</span>
                            <span>Data Início</span>
                            <span>Data Término</span>
                            <span>Imagem</span>
                            <span>Descrição</span>
                            <span class="acoes">Ações</span>
                        </li>
                        {% for curso in cursos %}
                        <li>
                            <span>{{ curso.nome_curso }}</span>
                            <span>{{ curso.data_inicio }}</span>
                            <span>{{ curso.data_final }}</span>
                            <span>
                                {% if curso.imagem %}
                                <img src="{{ curso.imagem.url }}" alt="{{ curso.nome_curso }}">
                                {% else %}-{% endif %}
                            </span>
                            <span>{{ curso.descricao_curso }}</span>
                            <span class="acoes">
                                <button type="button" class="botao-editar">Editar</button>
                            
                                <form action="{% url 'excluir_curso' curso.idcurso %}" method="POST" style="display:inline;">
                                    {% csrf_token %}
                                    <button type="submit"
                                            class="botao-excluir"
                                            onclick="return confirm('Tem certeza?')">
                                        Excluir
                                    </button>
                                </form>
                            </span>
                        </li>
                        {% empty %}
                        <li><span>Nenhum curso cadastrado.</span></li>
                        {% endfor %}
                    </ul>
                </section>
            </section>

            <!-- MODAL CADASTRO CURSO -->
            <div id="modalCadastroCurso" class="modal">
                <div class="modal-conteudo">
                    <span class="fechar" id="fecharModalCurso">&times;</span>

                    <div class="titulo_lista">
                        <p>Cadastro de Curso</p>
                    </div>

                    <form action="{% url 'criar_curso' %}" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}

                        <label for="nome_curso">Nome do Curso:</label>
                        <input type="text" id="nome_curso" name="nome_curso" required>

                        <label for="data_inicio">Data de Início:</label>
                        <input type="date" id="data_inicio" name="data_inicio">

                        <label for="data_final">Data de Término:</label>
                        <input type="date" id="data_final" name="data_final">

                        <label for="imagem">Imagem do Curso:</label>
                        <input type="file" id="imagem" name="imagem" accept="image/*">

                        <label for="descricao_curso">Descrição:</label>
                        <textarea id="descricao_curso" name="descricao_curso" rows="4"></textarea>

                        <button type="submitsalvar">Salvar</button>
                        <button type="buttoncancelar" id="cancelarModalCurso">Cancelar</button>
                    </form>
                </div>
            </div>

            <div id="modalEditarCurso" class="modal">
                <div class="modal-conteudo">
                    <span class="fechar" id="fecharEditarCurso">&times;</span>
            
                    <h3>Editar Curso</h3>
            
                    <form id="formEditarCurso" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
            
                        <input type="hidden" name="idcurso" id="idcursoEdit">
            
                        <label>Nome do Curso</label>
                        <input type="text" name="nome_curso" id="nomeCursoEdit" required>
            
                        <label>Data Início</label>
                        <input type="date" name="data_inicio" id="dataInicioEdit">
            
                        <label>Data Término</label>
                        <input type="date" name="data_final" id="dataFinalEdit">
            
                        <label>Descrição</label>
                        <textarea name="descricao_curso" id="descricaoEdit"></textarea>
            
                        <label>Imagem (opcional)</label>
                        <input type="file" name="imagem">
            
                        <button type="submit">Salvar</button>
                        <button type="button" id="cancelarEditarCurso">Cancelar</button>
                    </form>
                </div>
            </div>
            






































            <!-- TURMAS -->
            <section class="container_usuario lista_conteudo" id="listaTurma" style="display:none;">
                <div class="titulo_lista">
                    <p>Lista de Turmas</p>
                    <a href="#" class="btn-add" id="abrirModal">Cadastro</a>
                </div>
                <section class="lista-completa">
                    <ul>
                        <li class="cabecalho">
                            <span>Nome Turma</span>
                            <span>Curso</span>
                            <span>Data Início</span>
                            <span>Data Fim</span>
                            <span class="acoes">Ações</span>
                        </li>
                        {% for turma in turmas %}
                        <li>
                            <span>{{ turma.nome_turma }}</span>
                            <span>{{ turma.curso.nome_curso }}</span>
                            <span>{{ turma.data_inicio }}</span>
                            <span>{{ turma.data_fim }}</span>
                            <span class="acoes">
                                <button type="button">Editar</button>
                                <button type="button">Excluir</button>
                            </span>
                        </li>
                        {% empty %}
                        <li><span>Nenhuma turma cadastrada.</span></li>
                        {% endfor %}
                    </ul>
                </section>
            </section>

            <!-- PERFIL -->
            <section class="container_usuario lista_conteudo" id="listaPerfil" style="display:none;">
                <div class="titulo_lista"><p>Perfil</p></div>
                <p>Gerencie suas informações de perfil aqui.</p>
            </section>

        </section>
    </main>

    <!-- SCRIPT PARA MODAL E MOSTRAR LISTAS -->
    

    <!-- FOOTER -->
    <footer class="footer-fixo">
        <p>&copy; 2025 Desenvolvido por Alcides, Augusto e Clariane</p>
    </footer>

    <script src="{% static 'scripts/home_coordenacao.js' %}"></script>
</body>
</html>
