{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - Coordenação</title>
    <link rel="stylesheet" href="{% static 'styles/home_Coordenacao.css' %}?=V1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

</head>
<body>

    {% if messages %}
        {% for message in messages %}
            <div class="toast-sucesso">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}



    <!-- HEADER -->
    <div class="headerperfil">

        <!-- LOGO -->
        <div class="logo-header">
            <a href="{% url 'home_Coordenacao' %}">
                <img src="{% static 'img/LOGOBRANCO.png' %}" alt="Logo" class="logo-img"> 
            </a>
        </div>

        <!-- AÇÕES À DIREITA -->
        <div class="acoes-header">

            <div class="perfil-usuario" onclick="mostrarLista('listaPerfil')">
                {% if usuario_logado.imagem %}
                    <img src="{{ usuario_logado.imagem.url }}"
                        alt="Perfil"
                        class="icone-perfil">
                {% else %}
                    <div class="icone-perfil icone-padrao">?</div>
                {% endif %}
            </div>


            <a href="{% url 'login' %}" class="btn-sair">Sair</a>

        </div>
    </div>



    <!-- SEÇÃO PRINCIPAL -->
    <main class="maincontainer">

        <aside class="menu-lateral">
            <div class="cards-home">

                <div class="card">
                    <img src="{% static 'img/users-solid-full.svg' %}" alt="Usuário">
                    <h3>Usuário</h3>
                    <p>Adicione novos usuários à plataforma</p>
                    <a href="#" class="botao-card" onclick="mostrarLista('listaUsuario')">Acessar</a>
                </div>
            
                <div class="card">
                    <img src="{% static 'img/chalkboard-user-solid-full.svg' %}" alt="Cursos">
                    <h3>Cursos</h3>
                    <p>Veja a lista de cursos disponíveis</p>
                    <a href="#" class="botao-card" onclick="mostrarLista('listaCurso')">Acessar</a>
                </div>
            
                <div class="card">
                    <img src="{% static 'img/user-graduate-solid-full.svg' %}" alt="Turmas">
                    <h3>Turmas</h3>
                    <p>Gerencie suas turmas e horários</p>
                    <a href="#" class="botao-card" onclick="mostrarLista('listaTurma')">Acessar</a>
                </div>
            
               {% comment %} <div class="card">
                    <img src="{% static 'img/user-solid-full.svg' %}" alt="Perfil">
                    <h3>usuario e turma</h3>
                    <p>usuario e turma</p>
                    <a href="#" class="botao-card" onclick="mostrarLista('listaPerfil')">Acessar</a>
                </div>  {% endcomment %}
            
            </div>
        </aside>

         <!-- IMAGEM INICIAL -->
         <div id="painelImagem" class="painel-imagem">
            <img src="{% static 'img/LOGOAZUL.png' %}" alt="Logo Inova">
        </div>

        <section class="section-wrapper">

            <!-- USUÁRIO -->
            <section class=" lista_conteudo container-usuario lista-usuario" id="listaUsuario" style="display:none;">

                <div class="titulo-usuario">
                    <p>Lista de Usuários</p>

                    <div class="busca-geral">
                        <i class="fa fa-search"></i>
                        <input type="text" id="pesquisarUsuario" placeholder="Pesquisar Usuário">
                    </div>

                    <a href="#" class="btn-add-geral" id="abrirModal">+ Cadastro</a>
                </div>

                <!-- Lista Usuário -->
                <section class="lista-usuario-conteudo">
                    <ul>
                        <li class="usuario-cabecalho">
                            <span>Nome</span>
                            <span>Sobrenome</span>
                            <span>Email</span>
                            <span>Descrição</span>
                            <span>Imagem</span>
                            <span>Tipo</span>
                            <span class="usuario-acoes">Ações</span>
                        </li>

                        {% for usuario in usuarios %}
                        <li class="usuario-item" data-id="{{ usuario.idusuario }}">
                            <span>{{ usuario.nome }}</span>
                            <span>{{ usuario.sobrenome }}</span>
                            <span>{{ usuario.email }}</span>

                            <i class="fa-solid fa-align-center icon-descricao"
                            title="Ver descrição"
                            data-descricao="{{ usuario.descricao|escapejs }}"></i>

                            <span>
                                {% if usuario.imagem %}
                                    <img src="{{ usuario.imagem.url }}" alt="Foto">
                                {% else %}
                                    <img src="{% static 'img/default_user.png' %}" alt="Sem foto">
                                {% endif %}
                            </span>

                            <span>{{ usuario.tipo }}</span>

                            <span class="usuario-acoes">
                                <!-- EDITAR -->
                                <button type="button"
                                        class="btn-editar-usuario"
                                        title="Editar">
                                    <i class="fa-solid fa-pen-to-square"></i>
                                </button>

                                <!-- EXCLUIR -->
                                <form action="{% url 'excluir_usuario' usuario.idusuario %}"
                                    method="POST"
                                    class="form-excluir-usuario">
                                    {% csrf_token %}
                                    <button type="submit"
                                            class="btn-excluir-usuario"
                                            title="Excluir"
                                            onclick="return confirm('Tem certeza que deseja excluir?')">
                                        <i class="fa-solid fa-trash"></i>
                                    </button>
                                </form>
                            </span>
                        </li>

                        {% empty %}
                        <li class="usuario-vazio">
                            <span>Nenhum usuário cadastrado ainda.</span>
                        </li>
                        {% endfor %}
                    </ul>
                </section>
            </section>



            <!-- Modal Cadastro -->
                <div id="modalCadastro" class="modal">
                    <div class="modal-conteudo">
                        <span class="fechar" id="fecharModal">&times;</span>
                        <div class="titulo_lista">
                            <p>Cadastro Usuário</p>
                        </div>
                        <form action="{% url 'home_Coordenacao' %}" method="POST" enctype="multipart/form-data">

                            {% csrf_token %}
                            <input type="hidden" name="acao" value="cadastrar_usuario">

                            <label>Primeiro Nome</label>
                            <input type="text" name="nome" required>

                            <label>Sobrenome</label>
                            <input type="text" name="sobrenome" required>

                            <label>Email</label>
                            <input type="email" name="email" required>

                            <label>Senha</label>
                            <input type="password" name="senha" required>

                            <label>Descrição</label>
                            <textarea name="descricao"></textarea>

                            <label>Imagem</label>
                            <input type="file" name="imagem">

                            <label>Tipo</label>
                            <select name="tipoCadastro" required>
                                <option value="">Selecione</option>
                                <option value="Professor">Professor</option>
                                <option value="Aluno">Aluno</option>
                                <option value="Coordenador">Coordenação</option>
                            </select>

                            <button type="submitsalvar">Salvar</button>
                            <button type="buttoncancelar" id="cancelarModal">Cancelar</button>
                        </form>


                    </div>
                </div>

               <!-- Modal Editar Usuário -->
                <div id="modalEditar" class="modal">
                    <div class="modal-conteudo">
                        <span class="fechar" id="fecharEditar">&times;</span>
                        <div class="titulo_lista">
                            <p>Editar Usuário</p>
                        </div>
                        <form id="formEditarUsuario" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <input type="hidden" id="idusuarioEdit" name="idusuario">
                            
                            <label for="nomeEdit">Primeiro Nome:</label>
                            <input type="text" id="nomeEdit" name="nome" required placeholder="Digite seu nome">

                            <label for="SobrenomeEdit">Sobrenome:</label>
                            <input type="text" id="SobrenomeEdit" name="sobrenome" required placeholder="Digite seu sobrenome">

                            <label for="EmailEdit">Email:</label>
                            <input type="email" id="EmailEdit" name="email" required placeholder="exemplo@gmail.com">

                            <label for="SenhaEdit">Senha:</label>
                            <input type="password" id="SenhaEdit" name="senha" required placeholder="***********">

                            <label for="descricaoEdit">Descrição:</label>
                            <textarea id="descricaoEdit" name="descricao" rows="4" placeholder="Lorem ipsum dolor sit amet...."></textarea>

                            <label for="imagemEdit">Imagem:</label>
                            <input type="file" id="imagemEdit" name="imagem" accept="image/*">

                            <label for="tipoCadastroEdit">Escolha sua opção de cadastro:</label>
                            <select id="tipoCadastroEdit" name="tipoCadastro" required>
                                <option value="" disabled selected>Selecione uma opção</option>
                                <option value="Professor">Professor</option>
                                <option value="Aluno">Aluno</option>
                                <option value="Coordenador">Coordenação</option>
                            </select>

                            <button type="submitsalvar">Salvar</button>
                            <button type="buttoncancelar" id="cancelarEditar">Cancelar</button>
                        </form>
                    </div>
                </div>








            <!-- CURSOS -->

            <section class="lista_conteudo container-curso lista-curso" id="listaCurso" style="display:none;">

                <div class="titulo-curso">
                    <p>Lista de Cursos</p>

                    <div class="busca-geral">
                        <i class="fa fa-search"></i>
                        <input type="text" id="pesquisarCurso" placeholder="Pesquisar Curso">
                    </div>


                    <a href="#" class="btn-add-geral" id="abrirModalCurso">+ Cadastro</a>

                </div>

                <section class="lista-curso-conteudo">
                    <ul>
                        <li class="curso-cabecalho">
                            <span>Nome</span>
                            <span>Início</span>
                            <span>Término</span>
                            <span>Imagem</span>
                            <span>Descrição</span>
                            <span class="curso-acoes">Ações</span>
                        </li>

                        {% for curso in cursos %}
                        <li class="curso-item">
                            <span>{{ curso.nome_curso }}</span>
                            <span>{{ curso.data_inicio }}</span>
                            <span>{{ curso.data_final }}</span>

                            <span>
                                {% if curso.imagem %}
                                    <img src="{{ curso.imagem.url }}" alt="{{ curso.nome_curso }}">
                                {% else %}-{% endif %}
                            </span>

                            <i class="fa-solid fa-align-center icon-descricao"
                            title="Ver descrição"
                            data-descricao="{{ curso.descricao|escapejs }}"></i>

                            <span class="curso-acoes">
                                <!-- EDITAR -->
                                <button
                                    type="button"
                                    class="btn-editar-curso"
                                    title="Editar curso"
                                    data-id="{{ curso.idcurso }}"
                                    data-nome="{{ curso.nome_curso }}"
                                    data-inicio="{{ curso.data_inicio|date:'Y-m-d' }}"
                                    data-final="{{ curso.data_final|date:'Y-m-d' }}"
                                    data-descricao="{{ curso.descricao_curso }}">
                                    <i class="fa-solid fa-pen-to-square"></i>
                                </button>

                                <!-- EXCLUIR -->
                                <form action="{% url 'excluir_curso' curso.idcurso %}"
                                    method="POST"
                                    class="form-excluir-curso">
                                    {% csrf_token %}
                                    <button type="submit"
                                            class="btn-excluir-curso"
                                            title="Excluir curso"
                                            onclick="return confirm('Tem certeza que deseja excluir este curso?')">
                                        <i class="fa-solid fa-trash"></i>
                                    </button>
                                </form>
                            </span>
                        </li>

                        {% empty %}
                        <li class="curso-vazio">
                            <span>Nenhum curso cadastrado.</span>
                        </li>
                        {% endfor %}
                    </ul>
                </section>
            </section>

           
        


            <!-- MODAL CADASTRO CURSO -->
            <div id="modalCadastroCurso" class="modal">
                <div class="modal-conteudo">
                    <span class="fechar" id="fecharModalCurso">&times;</span>

                    <div class="titulo_lista">
                        <p>Cadastro de Curso</p>
                    </div>

                    <form action="{% url 'criar_curso' %}" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}

                        <label for="nome_curso">Nome do Curso:</label>
                        <input type="text" id="nome_curso" name="nome_curso" required>

                        <label for="data_inicio">Data de Início:</label>
                        <input type="date" id="data_inicio" name="data_inicio">

                        <label for="data_final">Data de Término:</label>
                        <input type="date" id="data_final" name="data_final">

                        <label for="imagem">Imagem do Curso:</label>
                        <input type="file" id="imagem" name="imagem" accept="image/*">

                        <label for="descricao_curso">Descrição:</label>
                        <textarea id="descricao_curso" name="descricao_curso" rows="4"></textarea>

                        <button type="submitsalvar">Salvar</button>
                        <button type="buttoncancelar" id="cancelarModalCurso">Cancelar</button>
                    </form>
                </div>
            </div>

            {% comment %} EDITAR CURSO {% endcomment %}
            <div id="modalEditarCurso" class="modal">
                <div class="modal-conteudo">
                    <span class="fechar" id="fecharEditarCurso">&times;</span>
            
                    <div class="titulo_lista">
                        <p>Editar Curso</p>
                    </div>
            
                    <form action="{% url 'editar_curso' %}" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
            
                        <input type="hidden" name="idcurso" id="edit_idcurso">
            
                        <label>Nome do Curso:</label>
                        <input type="text" id="edit_nome_curso" name="nome_curso" required>
            
                        <label>Data de Início:</label>
                        <input type="date" id="edit_data_inicio" name="data_inicio">
            
                        <label>Data de Término:</label>
                        <input type="date" id="edit_data_final" name="data_final">
            
                        <label>Imagem do Curso:</label>
                        <input type="file" id="edit_imagem" name="imagem" accept="image/*">
            
                        <label>Descrição:</label>
                        <textarea id="edit_descricao_curso" name="descricao_curso" rows="4"></textarea>
            
                        <button type="submitsalvar">Salvar</button>
                        <button type="buttoncancelar" id="cancelarEditarCurso">Cancelar</button>
                    </form>
                </div>
            </div>
            
            

            <!-- TURMAS -->
           <section class="lista_conteudo container-turma lista-turma" id="listaTurma" style="display:none;">
                <div class="titulo-turma">
                    <p>Lista de Turmas</p>
                    <div class="busca-geral">
                        <i class="fa fa-search"></i>
                        <input type="text" id="pesquisarTurma" placeholder="Pesquisar Turma">
                    </div>


                    <a href="#" class="btn-add-geral" id="abrirModalTurma">+ Cadastro</a>

                </div>

                <section class="lista-turma-conteudo">
                    <ul>
                        <li class="turma-cabecalho">
                            <span>Código</span>
                            <span>Turno</span>
                            <span>Ano</span>
                            <span>Curso</span>
                            <span class="turma-acoes">Ações</span>
                        </li>

                        {% for turma in turmas %}
                        <li class="turma-item">
                            <span>{{ turma.codigo_turma }}</span>
                            <span>{{ turma.turno }}</span>
                            <span>{{ turma.ano }}</span>
                            <span>{{ turma.curso.nome_curso }}</span>

                            <span class="turma-acoes acoes-turma">
                                <!-- EDITAR -->
                                <button
                                    type="button"
                                    class="btn-editar-turma"
                                    title="Editar turma"
                                    data-id="{{ turma.idturma }}"
                                    data-codigo="{{ turma.codigo_turma }}"
                                    data-turno="{{ turma.turno }}"
                                    data-ano="{{ turma.ano }}"
                                    data-curso="{{ turma.curso.idcurso }}">
                                    <i class="fa-solid fa-pen-to-square"></i>
                                </button>

                                <!-- EXCLUIR -->
                                <form action="{% url 'excluir_turma' turma.idturma %}"
                                    method="POST"
                                    class="form-excluir-turma">
                                    {% csrf_token %}
                                    <button type="submit"
                                            class="btn-excluir-turma"
                                            title="Excluir turma"
                                            onclick="return confirm('Tem certeza que deseja excluir esta turma?')">
                                        <i class="fa-solid fa-trash"></i>
                                    </button>
                                </form>
                            </span>
                        </li>

                        {% empty %}
                        <li class="turma-vazia">
                            <span>Nenhuma turma cadastrada.</span>
                        </li>
                        {% endfor %}
                    </ul>
                </section>
            </section>


            <div id="modalCadastroTurma" class="modal" style="display:none;">
                <div class="modal-conteudo">
                    <span class="fechar" id="fecharModalTurma">&times;</span>
            
                    <h3>Cadastro de Turma</h3>
            
                    <form action="{% url 'criar_turma' %}" method="POST">
                        {% csrf_token %}
            
                        <label>Código da Turma</label>
                        <input type="text" name="codigo_turma" required>
            
                        <label>Turno</label>
                        <input type="text" name="turno">
            
                        <label>Ano</label>
                        <input type="number" name="ano" required>
            
                        <label>Curso</label>
                        <select name="curso_id" required>
                            <option value="">Selecione</option>
                            {% for curso in cursos %}
                                <option value="{{ curso.idcurso }}">{{ curso.nome_curso }}</option>
                            {% endfor %}
                        </select>
            
                        <div style="margin-top:15px;">
                            <button type="submitsalvar">Salvar</button>
                            <button type="buttoncancelar" id="cancelarModalTurma">Cancelar</button>
                        </div>
                    </form>
                </div>
            </div>
            
            <div id="modalEditarTurma" class="modal">
                <div class="modal-conteudo">
                    <span id="fecharEditarTurma" class="fechar">&times;</span>
            
                    <h3>Editar Turma</h3>
            
                    <form method="POST" action="{% url 'editar_turma' %}">
                        {% csrf_token %}
            
                        <input type="hidden" name="idturma" id="idTurmaEdit">
            
                        <label>Código da Turma</label>
                        <input type="text" name="codigo_turma" id="codigoTurmaEdit" required>
            
                        <label>Turno</label>
                        <input type="text" name="turno" id="turnoEdit">
            
                        <label>Ano</label>
                        <input type="number" name="ano" id="anoEdit">
            
                        <label>Curso</label>
                        <select name="curso" id="cursoEdit">
                            {% for curso in cursos %}
                                <option value="{{ curso.idcurso }}">{{ curso.nome_curso }}</option>
                            {% endfor %}
                        </select>
            
                        <button type="submitsalvar">Salvar</button>
                        <button type="buttoncancelar" id="cancelarEditarTurma">Cancelar</button>
                    </form>
                </div>
            </div>



            <!-- PERFIL -->

            <section class="perfil-coord-container lista_conteudo  " id="listaPerfil" style="display:none;">
                <div class="perfil-coord-header">
                    <p>Perfil da Coordenação</p>
                </div>

                <div class="perfil-coord-card perfil-coord-layout">

                    <!-- FOTO -->
                    <div class="perfil-coord-foto">
                        {% if usuario_logado.imagem %}
                            <img src="{{ usuario_logado.imagem.url }}" class="perfil-coord-img">
                        {% else %}
                            <img src="{% static 'img/user-solid-full.svg' %}" class="perfil-coord-img">
                        {% endif %}
                    </div>

                    <!-- DADOS -->
                    <div class="perfil-coord-info">
                        <p class="perfil-nome">
                            {{ usuario_logado.nome }} {{ usuario_logado.sobrenome }}
                        </p>

                        <p><strong>Email:</strong> {{ usuario_logado.email }}</p>

                        <p class="perfil-tipo">
                            <strong>{{ usuario_logado.tipo }}</strong>
                        </p>
                    </div>

                    <!-- DESCRIÇÃO -->
                    <div class="perfil-coord-descricao">
                        <p class="perfil-coord-desc-title"><strong>Descrição:</strong></p>
                        <p class="perfil-coord-desc">
                            {{ usuario_logado.descricao|default:"Sem descrição cadastrada." }}
                        </p>
                    </div>

                    <!-- AÇÕES -->
                    <div class="perfil-coord-acoes">
                        <button type="button"
                                class="perfil-coord-btn"
                                onclick="mostrarLista('editarPerfil')">
                            Editar
                        </button>
                    </div>

                </div>
            </section>

            <!-- PERFIL EDITAR -->

            <section class="editar-perfil-container lista_conteudo  " id="editarPerfil" style="display:none;">
                <div class="editar-perfil-header">
                    <p>Editar Perfil da Coordenação</p>
                </div>

                <div class="editar-perfil-card editar-perfil-layout">

                    <!-- FOTO -->
                    <div class="editar-perfil-foto">
                        {% if usuario_logado.imagem %}
                            <img src="{{ usuario_logado.imagem.url }}" class="editar-perfil-img">
                        {% else %}
                            <img src="{% static 'img/user-solid-full.svg' %}" class="editar-perfil-img">
                        {% endif %}

                        <label class="editar-perfil-upload">
                            Alterar foto
                            <input type="file" name="imagem" hidden>
                        </label>
                    </div>

                    <!-- FORM -->
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="hidden" name="acao" value="editar_perfil">

                        <input type="text" name="nome" value="{{ usuario_logado.nome }}">
                        <input type="text" name="sobrenome" value="{{ usuario_logado.sobrenome }}">
                        <input type="email" name="email" value="{{ usuario_logado.email }}">
                        <textarea name="descricao">{{ usuario_logado.descricao }}</textarea>

                        <button type="submit">Salvar</button>
                        <button type="button" onclick="mostrarLista('listaPerfil')">
                            Cancelar
                        </button>
                    </form>

                </div>
            </section>



            












        </section>
    </main>

    

    <!-- FOOTER -->
    <footer class="footer-fixo">
        <p>&copy; 2025 Desenvolvido por Alcides, Augusto e Clariane</p>
    </footer>

    <script src="{% static 'scripts/home_coordenacao.js' %}"></script> 
    <script src="{% static 'scripts/modal_descricao.js' %}"></script> 


    <div id="modalDescricao" class="modal">
        <div class="modal-content">
            <span class="fechar-descricao">&times;</span>
            <h3>Descrição</h3>
            <p id="textoDescricao"></p>
        </div>
    </div>

</body>
</html>
