{% extends "base.html" %}
{% load static %}

{% block content %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'styles/ListaCurso.css' %}">
    {% comment %} <link rel="stylesheet" href="{% static 'styles/ListaUsuario.css' %}"> {% endcomment %}
</head>
<body>

    {% comment %} {% block header %}
        {% include "partials/header.html" %}
    {% endblock %} {% endcomment %}

    <!-- Título e filtros -->
    <div class="titulo">
        <p>Lista Curso</p>
        <img class="filtro_icone" src="{% static 'img/famicons_filter.svg' %}" alt="filtro" />
    </div>
    <input class="pesquisa" type="search" placeholder="Pesquisar" />


    <main class="container_usuario">

    
        <section class="lista-completa">
            <ul>
                <!-- Cabeçalho -->
                <li class="cabecalho">
                    <span>Nome</span>
                    <span>Data de Início</span>
                    <span>Data de Término</span>
                    <span>Imagem</span>
                    <span>Descrição</span>
                    <span class="acoes">Ações</span>
                </li>

                <!-- Linha de cursos do banco -->
                {% for curso in cursos %}
                    <li>
                        <span>{{ curso.nome_curso }}</span>
                        <span>{{ curso.data_inicio }}</span>
                        <span>{{ curso.data_final }}</span>
                        <span>
                            {% if curso.imagem %}
                                <img src="{{ curso.imagem.url }}" alt="{{ curso.nome_curso }}" width="80">
                            {% else %}
                                -
                            {% endif %}
                        </span>
                        <span>{{ curso.descricao_curso }}</span>
                        <span class="acoes">
                         
                        {% comment %} </span>

                            <button type="button" onclick="window.location.href='{% url 'editar_curso' turma.pk %}'">Editar</button>
                            <button type="button" onclick="window.location.href='{% url 'excluir_curso' turma.pk %}'">Excluir</button>

                        <span class="acoes"> {% endcomment %}
         
            </span>





                    </li>
                {% empty %}
                    <li>
                        <span colspan="6">Nenhum curso cadastrado.</span>
                    </li>
                {% endfor %}

            </ul>
        </section>

    </main>

    
    <button class="button_salvar" type="submit">Salvar</button>
    <button class="button_salvar" type="button" onclick="window.history.back()">Voltar</button>


</body>
</html>
{% endblock %}
