{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="{% static 'styles/header.css' %}">
  <title>Inova Edu</title>
</head>
<body>
  {% block content %} 
    {% block header %}{% endblock %} 
  {% endblock %}

  {% block content2 %} 
    {% block footer %}{% endblock %} 
  {% endblock %}

  {% block chat %}
    {% include "partials/chatbot.html" %}
  {% endblock %}
</body>
</html>
