{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/home_Aluno.css' %}">
    <link rel="icon" href="{% static 'img/Ellipse 13.svg' %}" type="image/png">
    <link href="https://fonts.googleapis.com/css2?family=Kadwa&display=swap" rel="stylesheet">
    
    <title>Inova Edu</title>
</head>
<body>
    {% block content %}
    {% block header %}{% endblock %}
    {% endblock %}
</body>
</html>