{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/home_Aluno.css' %}?v=1">
    <link rel="icon" href="{% static 'img/Ellipse 13.svg' %}" type="image/png">
    <link href="https://fonts.googleapis.com/css2?family=Kadwa&display=swap" rel="stylesheet">
    <title>Inova Edu</title>
</head>
<body>
    <div class="navbar">
        <img class="logo" src="{% static 'img/Ellipse 13.svg' %}" alt="logo">
        <p class="texto_InovaEdu">Inova Edu</p>
    </div>
    <div class="navbar_secundaria">
        <a href="">Forum</a>
        <a href="">Suporte</a>
        <a href="">Chat</a>
        <a href="">Eventos</a>
        <a href="">Perfil</a>
    </div>
    <div class="titulo">
        <p>Repositórios</p>
    </div>
    <div class="aba_pesquisa">
        <img class="filtro_icone" src="{% static 'img/famicons_filter.svg' %}" alt="filtro">
        <input class="pesquisa" type="search" placeholder="Pesquisar">
        <button class="buscar" type="submit">
            <img class="pesquisar_icone" src="{% static 'img/Search.svg' %}" alt="pesquisar_icone">
            <p>Buscar</p>
        </button>
    </div>
</body>
</html>