{% extends "base.html" %}
{% load static %}

{% block content %}
    {% block header %}
    {% include "partials/header.html" %}
{% endblock %}

<div class="titulo">
    <p>Repositórios</p>
    <img class="filtro_icone" src="{% static 'img/famicons_filter.svg' %}" alt="filtro" />
</div>
<input class="pesquisa" type="search" placeholder="Pesquisar" />
<main class="blocos">
    {% for Curso in curso %}
        <section>
            <img class="imagem_curso" src="{% static 'img/tecnologia.png' %}" alt="Imagem do curso" />
            <p>{{ Curso.nome_curso }}</p>
            <div class="borda"></div>
            <a class="Botao_entrar_curso" href="">Entrar</a>
        </section>
    {% endfor %}
</main>
{% endblock %}