{% load static %}

{% block content %}

    <!DOCTYPE html>
    <html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'styles/homePage.css' %}?=V1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
        <title>Inova Edu</title>
    </head>
    <body>

    <!-- HERO PARALLAX -->
    <div class="botoeslogin">
        <a href="/login" class="btn-acao">
            <i class="fa-solid fa-user"></i> Login
        </a>
    </div>
    <div class="parallax"
    style="background-image: url('{% static "img/imgtransparente.png" %}')">
    
    
        <img class="logo" src="{% static 'img/LOGO_AZUL.png' %}" style="width: 700px;">
        <h1 style="font-size: 30px;">Bem-vindo ao Repositório Inova Edu</h1>
    </div>

    <!-- SEÇÃO 1 -->
    <section>
        <h2 class="titulo-secao">O que você vai encontrar aqui</h2>
        <p class="descricao">Uma visão geral das principais partes do Repositório.</p>

        <div class="cards">
            <div class="card">
                <i class="fa-solid fa-lightbulb fa-2x"></i>
                <h3>Projetos</h3>
                <p>Acompanhar todos os projetos desenvolvidos pelas turmas.</p>
            </div>

            <div class="card">
                <i class="fa-solid fa-folder-open fa-2x"></i>
                <h3>Repositórios</h3>
                <p>Veja as criações, ideias e trabalhos organizados.</p>
            </div>

            <div class="card">
                <i class="fa-solid fa-users fa-2x"></i>
                <h3>Turmas</h3>
                <p>Uma seção de projetos de turmas da área da tecnologia.</p>
            </div>
        </div>
    </section>

    <!-- PARALLAX 2 -->
    <div class="parallax"
        style="background-image: url('https://images.unsplash.com/photo-1519389950473-47ba0277781c');">
        <h1>Projetos Moderno e Elegante</h1>
    </div>

    <!-- SEÇÃO 2 -->
    <section>
        <h2 class="titulo-secao">Mais detalhes</h2>
        <p class="descricao">Você pode adicionar mais projetos, continuar projetos e ter facil contato com outros alunos.</p>

        <div class="cards">
            <div class="card">
                <i class="fa-solid fa-comments fa-2x"></i>
                <h3>Fórum</h3>
                <p>Compartilhar conhecimentos, estudos, inspirações e aprendizados.</p>
            </div>

            <div class="card">
                <i class="fa-solid fa-calendar-days fa-2x"></i>
                <h3>Calendário</h3>
                <p>Visualizar os projetos que serão apresentados.</p>
            </div>
        </div>
    </section>

    <!-- FOOTER -->
    <footer>
        &copy; 2025 Desenvolvido por Alcides, Augusto e Clariane
    </footer>

    </body>
    </html>
{% endblock %}
