{% extends "base.html" %}
{% load static %}

{% block content %}
    <!DOCTYPE html>
    <html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'styles/cadastro_Aluno.css' %}?=V1">
        <link rel="stylesheet" href="{% static 'styles/ListaUsuario.css' %}?=V1">
    </head>

    {% block header %}
        {% include "partials/header.html" %}
    {% endblock %}




<main class="container_usuario">
    <div class="titulo_usuario">
        <p>Lista dos Usuários</p>
        <input type="text" id="search-bar" placeholder="Pesquisar...">
        <button type="submit">Filtrar</button>
    </div>

    <section class="lista-completa">
        <ul>
            <!-- Cabeçalho da lista -->
            <li class="cabecalho">
                <span>Nome</span>
                <span>Sobrenome</span>
                <span>Email</span>
                <span>Descrição</span>
                <span>Tipo</span>
                <span class="acoes">Ações</span>
            </li>

            <!-- Loop Django -->
            {% for usuario in usuarios %}
            <li>
                <span>{{ usuario.nome }}</span>
                <span>{{ usuario.sobrenome }}</span>
                <span>{{ usuario.email }}</span>
                <span>{{ usuario.descricao|default:"-" }}</span>
                <span>{{ usuario.tipoCadastro }}</span>
                <span class="acoes">
                    <a href="{% url 'editar_usuario' usuario.id %}">Editar</a> |
                    <a href="{% url 'deletar_usuario' usuario.id %}">Excluir</a>
                </span>
            </li>
            {% empty %}
            <li>
                <span colspan="6">Nenhum usuário encontrado.</span>
            </li>
            {% endfor %}
        </ul>
    </section>
</main>

{% endblock %}