{% extends "base.html" %}
{% load static %}

{% block content %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'styles/ListaUsuario.css' %}">

    
</head>
<body>

    {% block header %}
        {% include "partials/header.html" %}
    {% endblock %}

    <main class="container_usuario">

        <div class="titulo">
            <p>Lista Turma</p>
            <img class="filtro_icone" src="{% static 'img/famicons_filter.svg' %}" alt="filtro" />
        </div>
        <input class="pesquisa" type="search" placeholder="Pesquisar" />

        <!-- Lista de turmas -->
        <section class="lista-completa">
            <ul>
                <!-- Cabeçalho -->
                <li class="cabecalho">
                    <span>Turma</span>
                    <span>Lista de Alunos</span>
                    <span>Turno</span>
                    <span class="acoes">Ações</span>
                </li>

                <!-- Linha de exemplo 1 -->
                <li>
                    <span>Turma A</span>
                    <span>Clariane Torres, João Pereira</span>
                    <span>Manhã</span>
                    <span class="acoes">
                        <button type="submit">Editar</button>
                        <button type="submit">Excluir</button>
                    </span>
                </li>

                <!-- Linha de exemplo 2 -->
                <li>
                    <span>Turma B</span>
                    <span>Maria Souza, Pedro Lima</span>
                    <span>Tarde</span>
                    <span class="acoes">
                        <button type="submit">Editar</button>
                        <button type="submit">Excluir</button>
                    </span>
                </li>

            </ul>
        </section>

    </main>


</body>
</html>
{% endblock %}