{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Inova Edu</title>
    <link rel="stylesheet" href="{% static 'styles/login.css' %}?v=1">
    <link rel="icon" href="{% static 'img/Ellipse 13.svg' %}" type="image/png">
</head>
<body>
    <!-- Card do login -->
    <form class="card_login" action="" method="POST">
        {% csrf_token %}
        <img class="logo" src="{% static 'img/Ellipse 13.svg' %}" alt="logo">
        <h1>Login</h1>
        <input type="text" placeholder="Email"  name="email" value="{{ email|default:'' }}">
        <input type="password" placeholder="Senha" name="senha" value="{{ senha|default:'' }}">
        <button type="submit">Entrar</button>
        {% if erro %}
            <p style="color:red;">{{ erro }}</p>
        {% endif %}
    </form>
</body>
</html>