{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/codigoEmail.css' %}">
    <title>Inova Edu</title>
</head>

<body>
    <form class="card_login" method="POST">
        {% csrf_token %}
        <h1>Insira seu email</h1>

        <!-- Corrigido: era type="password" -->
        <input type="email" placeholder="Email" name="email" id="email" required>

        <!-- MENSAGEM DE ERRO -->
        {% if erro %}
            <p style="color:red; margin-top:10px; font-size:16px;">{{ erro }}</p>
        {% endif %}

        <!-- MENSAGEM DE SUCESSO -->
        {% if sucesso %}
            <p style="color:green; margin-top:10px; font-size:16px;">{{ sucesso }}</p>
        {% endif %}
        <button type="submit"><a href="verificar_codigo">Confirmar</a></button>
    </form>
</body>
</html>
