{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/codigoEmail.css' %}">
    <title>Inova Edu</title>
</head>

<body>
    <form class="card_login" method="POST">
        {% csrf_token %}
        <h1>Insira seu email</h1>

        <input type="email" placeholder="Email" name="email" required>

        {% if erro %}
            <p style="color:red; margin-top:10px;">{{ erro }}</p>
        {% endif %}

        <button type="submit">Confirmar</button>
    </form>
</body>
</html>
