{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'img/Logo Laranja.svg' %}" type="image/png">
    <link rel="stylesheet" href="{% static 'styles/reSenha.css' %}">
    <title>Inova Edu</title>
</head>

<body>

    <form class="card_login" method="POST">
        {% csrf_token %}

        <img class="logo" src="{% static 'img/Logo Laranja.svg' %}" alt="logo">
        <h1>Redefinir senha</h1>

        <input type="password" name="senha1" placeholder="Nova senha" required>
        <input type="password" name="senha2" placeholder="Confirmar senha" required>

        {% if mensagem %}
            <p id="mensagem" style="margin-top:10px; font-size:16px; color:red;">
                {{ mensagem }}
            </p>
        {% endif %}

        <button type="submit">Confirmar</button>
    </form>

</body>
</html>
