{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'img/Logo Laranja.svg' %}" type="image/png">
    <link rel="stylesheet" href="{% static 'styles/reSenha.css' %}">
    <title>Inova Edu</title>
</head>

<body>

    <form class="card_login" onsubmit="return salvarSenha(event)">
        <h1>Redefinir senha</h1>

        <input type="password" placeholder="Nova senha" id="senha1">
        <input type="password" placeholder="Confirmar senha" id="senha2">

        <p id="mensagem" style="display:none; margin-top:10px; font-size:16px;"></p>

        <button type="submit">Confirmar</button>
    </form>


    <script src="{% static 'scripts/salvar_senha.js' %}"></script>

</body>
</html>
