{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'img/Logo Laranja.svg' %}">
    <link rel="stylesheet" href="{% static 'styles/codigoEmail.css' %}">
    <title>Inova Edu</title>
</head>

<body>

    <form class="card_login" method="POST">
        {% csrf_token %}
        
        <img class="logo" src="{% static 'img/Logo Laranja.svg' %}" alt="logo">
        <h1>Verificar código</h1>

        <input type="text" name="codigo" placeholder="******" required>

        {% if erro %}
            <p style="color:red; margin-top:10px;">{{ erro }}</p>
        {% endif %}

        <button type="submit">Confirmar</button>
    </form>

</body>
</html>